includes:
	- vendor/silverassist/coding-standards/phpstan/base.neon
	- vendor/silverassist/wp-coding-standards/phpstan/base.neon
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	paths:
		- Includes
	bootstrapFiles:
		- silver-assist-post-revalidate.php
	scanDirectories:
		- vendor
	excludePaths:
		- build/*
